#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f5f5f5;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  padding: 2em;
}

.counter{
  display: flex;
  gap: 16px;
}

.counter__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
}

.counter__button {
  display: flex;
  align-items: center;
}

.count__number{
  font-size: 24px;
  width: 80px;
  text-align: center;
}

.menu {
  font-size: 24px;
  width: 240px;
  font-weight: 600;
}

.total {
  font-size: 24px;
}